<div class="column six wide sample-col right floated">
  <h3>Admin Panel</h3>
  <p>This is only shown to admins.</p>
  <table class="ui table compact collapsing">
    <thead>
      <tr>
        <th>Setting</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Issuer</td>
        <td>Okta</td>
      </tr>
      <tr>
        <td>Client ID</td>
        <td>azejpaddak56</td>
      </tr>
      <tr>
        <td>Client Secret</td>
        <td>***dd42</td>
      </tr>
      <tr>
        <td>Requested Scope</td>
        <td>{{oidcConfig.scope}}</td>
      </tr>
    </tbody>
  </table>
</div>
