<div class="column six wide sample-col right floated">
  <h3>Admin Panel</h3>
  <p>This is only shown to admins.</p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at urna rhoncus, varius ex eu, scelerisque urna. Praesent a sem non ante fringilla lobortis non in ante. Morbi scelerisque sem erat, et elementum lorem varius eget. Curabitur at lacus odio. Nulla sagittis arcu congue enim mollis pellentesque. Praesent efficitur lorem sed elit fringilla aliquam. Vestibulum placerat purus vel justo dictum cursus eu sit amet tellus.</p>
</div>
