<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body id="samples">

    {{>menu}}

    <div id="content" class="ui container padded grid relaxed">
      <div id="doc" class="column eight wide">
        <div class="doc-overview text container">

          <h2 class="ui dividing header" data-se="overview-doc-header">
            Okta Impersonate App Example
          </h2>

          {{^isLoggedIn}}
            <p>Hello!</p>
          {{/isLoggedIn}}

          {{#isLoggedIn}}
            <p>Welcome back, {{userinfo.name}}!</p>
            <p></p>
          {{/isLoggedIn}}

          {{^isLoggedIn}}
            <form method="get" action="/login">
              <button id="login-button" class="ui primary button" type="submit">Log In</button>
            </form>
          {{/isLoggedIn}}
        </div>
        {{#isLoggedIn}}
          <div class="doc-overview">
            <h2 class="ui dividing header" data-se="overview-doc-header">
              Impersonation
            </h2>
            <p>You can impersonate another user by clicking the button below.
            </p>
          </div>
          <a id="impersonate-button" data-se="impersonate" class="item" href="/impersonate">
            Impersonate
          </a>
        {{/isLoggedIn}}
      </div>
    </div>
  </body>
</html>
