<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body id="samples">

    {{>menu}}

    <div id="content" class="ui padded grid relaxed">
      <div id="doc" class="column eight wide">
        <div class="doc-overview text container">

          <h2 class="ui dividing header" data-se="overview-doc-header">
            Okta Impersonate Sample App
          </h2>
            <p>Welcome back, {{targetAttributes.0.1}} {{targetAttributes.1.1}}!</p>
            <p></p>
        </div>
        <div class="doc-overview">
          <h2 class="ui dividing header" data-se="overview-doc-header">
            Target Profile
          </h2>
        <p>You can view the Target (user impersonated) informations below.</p>
        </div>
        <table class="ui table compact collapsing">
          <thead>
            <tr>
              <th>Attribute</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            {{#targetAttributes}}
              <tr>
                <td>{{0}}</td>
                <td id="claim-{{0}}">{{1}}</td>
              </tr>
            {{/targetAttributes}}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
